/*
 * Cyboard Imprint keymap ported from a Redox Wireless Vial layout
 * (source: 09_21_2026.vil). Written to open cleanly in the Keymap Editor
 * (nickcoutsos.github.io/keymap-editor): layers are referenced by number,
 * no #define shortcuts.
 *
 * Physical layout: Imprint Function Row, 5-key bottom row (82 keys).
 *
 * Layers
 *   0 Base       Redox layer 0
 *   1 Nav        Redox layer 1  (hold left bottom-row key 4)
 *   2 Mouse      Redox layer 2  (toggle: left 5th bottom-row key)
 *   3 Symbols    Redox layer 5  (hold left-thumb Enter)
 *   4 Mouse R    Redox layer 6  (hold left bottom-row key 3)
 *   5 Trackball  NEW - turns on by itself when the right ball moves
 *
 * Where the Redox keys went (both hands mirror each other):
 *   - Function row: new on the Imprint. F1-F12 on Base, see-through on
 *     every other layer.
 *   - Number/Q/A/Z rows: identical positions.
 *   - Redox 4-key bottom row: same columns on the Imprint bottom row.
 *   - Redox inner-column TOP key (TG Mouse | [ ): the extra 5th
 *     bottom-row key, right under your index finger.
 *   - Thumb arc 1 (row nearest the keys): Space, Backspace, Enter/Symbols
 *     on the left; Space, Alt, Backspace on the right.
 *   - Thumb arc 2: Ctrl, Alt, F2 on the left; ], -, Enter on the right.
 *
 * Added for the Imprint (Redox had no Bluetooth): on the Symbols layer,
 * right hand, on keys that were empty:
 *   Y U I O P = Bluetooth profile 1-5,  H = clear current BT pairing,
 *   J = toggle USB/Bluetooth output,    ' = RGB on/off.
 */

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/* Per-layer underglow colors: edit config/layer_rgb.dtsi (or generate it
 * with rgb-emulator/index.html). */

#include "layer_rgb.dtsi"

/* Match the Vial settings: tapping term 200 ms (ZMK default), tap-then-hold
 * repeats the tap key like QMK, one-shot mods time out after 5 s, mouse keys
 * reach full speed in ~640 ms. */

&lt { quick-tap-ms = <200>; };

&sk { release-after-ms = <5000>; };

&mmv { time-to-max-speed-ms = <640>; };

/ {
    chosen { zmk,physical-layout = &physical_layout_imprint_function_row_full_bottom_row; };

    keymap {
        compatible = "zmk,keymap";

        // 0 - Redox layer 0

        qwerty_layer {
            display-name = "qwerty";
            bindings = <
&kp F1     &kp F2     &kp F3  &kp F4  &kp F5     &kp F6                   &kp F7     &kp F8     &kp F9     &kp F10  &kp F11           &kp F12
&kp GRAVE  &kp N1     &kp N2  &kp N3  &kp N4     &kp N5                   &kp N6     &kp N7     &kp N8     &kp N9   &kp N0            &kp EQUAL
&kp TAB    &kp Q      &kp W   &kp E   &kp R      &kp T                    &kp Y      &kp U      &kp I      &kp O    &kp P             &kp MINUS
&kp ESC    &kp A      &kp S   &kp D   &kp F      &kp G                    &kp H      &kp J      &kp K      &kp L    &kp SEMI          &kp SQT
&kp LSHFT  &kp Z      &kp X   &kp C   &kp V      &kp B                    &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH          &kp BSLH
&kp LGUI   &kp K_APP  &mo 4   &tog 2  &mo 1                                          &kp LCTRL  &mo 2      &mo 4    &kp LEFT_BRACKET  &kp RIGHT_BRACKET
                                      &kp SPACE  &kp BSPC  &lt 3 ENTER    &kp SPACE  &kp LALT   &kp BSPC
                                      &kp LCTRL  &kp LALT  &tog 3         &mkp MB2   &mkp MB1   &kp RET
            >;
        };

        // 1 - Redox layer 1: nav, media, numpad (hold left bottom-row key 4)

        nav_layer {
            display-name = "Nav";
            bindings = <
&kp C_MUTE    &trans     &trans          &trans        &trans           &trans                    &trans          &trans           &trans        &trans        &trans                &trans
&kp C_VOL_UP  &kp PG_UP  &kp C_BRI_DEC   &kp C_BRI_UP  &trans           &kp C_BRI_UP              &kp KP_DIVIDE   &kp KP_MULTIPLY  &kp KP_MINUS  &trans        &kp K_FIND            &kp LG(L)
&kp C_VOL_DN  &kp PG_DN  &kp HOME        &kp UP        &kp END          &kp C_BRI_DEC             &kp KP_N7       &kp KP_N8        &kp KP_N9     &kp KP_PLUS   &kp C_AL_CALC         &kp C_AL_EMAIL
&trans        &kp LWIN   &kp LEFT        &kp DOWN      &kp RIGHT        &msc SCRL_UP              &kp KP_N4       &kp KP_N5        &kp KP_N6     &kp KP_COMMA  &kp C_AL_MY_COMPUTER  &kp C_AC_SEARCH
&sk LALT      &sk TAB    &msc SCRL_LEFT  &kp DEL       &msc SCRL_RIGHT  &msc SCRL_DOWN            &kp KP_N1       &kp KP_N2        &kp KP_N3     &kp KP_EQUAL  &kp C_AC_REFRESH      &kp C_AC_HOME
&sk LCTRL     &trans     &sk LSHIFT      &kp ENTER     &trans                                                     &kp BSPC         &kp KP_DOT    &kp KP_ENTER  &trans                &trans
                                                       &trans           &trans          &trans    &trans          &trans           &trans
                                                       &trans           &trans          &trans    &kp KP_NUMLOCK  &trans           &kp KP_N0
            >;

            label = "nav";
        };

        // 2 - Redox layer 2: mouse, numpad, F-keys (toggle: left 5th bottom key)

        mouse_layer {
            display-name = "Mouse";
            bindings = <
&trans          &trans          &trans           &trans         &trans           &trans                          &trans    &trans    &trans   &trans      &trans     &trans
&mkp MB4        &mkp MCLK       &mkp MB5         &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_DOT                      &kp F1    &kp F2    &kp F3   &kp C_PREV  &kp C_PP   &kp C_NEXT
&mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &kp KP_N7      &kp KP_N8        &kp KP_N9                       &kp F4    &kp F5    &kp F6   &kp HOME    &kp UP     &kp END
&mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp KP_N4      &kp KP_N5        &kp KP_N6                       &kp F7    &kp F8    &kp F9   &kp LEFT    &kp DOWN   &kp RIGHT
&trans          &msc SCRL_UP    &msc SCRL_DOWN   &kp KP_N1      &kp KP_N2        &kp KP_N3                       &kp F10   &kp F11   &kp F12  &sk LCTRL   &kp PG_UP  &kp PG_DN
&trans          &kp KP_MINUS    &trans           &trans         &kp KP_NUMBER_0                                            &kp SLCK  &trans   &kp DEL     &trans     &trans
                                                                &kp KP_DOT       &trans        &trans            &trans    &trans    &trans
                                                                &kp KP_PLUS      &kp KP_MINUS  &kp KP_NUMLOCK    &kp CAPS  &trans    &trans
            >;
        };

        // 3 - Redox layer 5: symbols, F-keys, vim keys (hold left thumb Enter)

        vnc {
            display-name = "vim and config";
            bindings = <
&trans      &trans     &trans            &trans             &trans                &trans                           &trans        &trans           &trans           &trans           &trans           &trans
&trans      &kp F1     &kp F2            &kp F3             &kp F4                &kp F5                           &kp F6        &kp F7           &kp F8           &kp F9           &kp F10          &kp F11
&kp DOT     &kp FSLH   &kp LS(N)         &kp N              &kp N0                &kp CARET                        &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4     &kp F12
&trans      &kp EXCL   &kp AT            &kp HASH           &kp DLLR              &kp PRCNT                        &bt BT_CLR    &out OUT_TOG     &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG
&caps_word  &kp CARET  &kp AMPS          &kp ASTERISK       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS            &trans        &trans           &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &none
&kp COMMA   &kp SEMI   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp UNDER                                                            &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &none            &none            &none
                                                            &trans                &trans                 &trans    &trans        &trans           &trans
                                                            &trans                &trans                 &trans    &trans        &trans           &trans
            >;
        };

        // 4 - Redox layer 6: right-hand mouse, scroll

        mouse_r_layer {
            display-name = "Mouse R";
            bindings = <
&trans          &trans          &trans           &trans          &trans    &trans               &rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &trans    &trans          &trans          &trans
&kp LCTRL       &kp LALT        &kp DEL          &kp CAPS        &trans    &trans               &trans           &rgb_ug RGB_HUD  &trans    &trans          &mkp MCLK       &trans
&trans          &msc SCRL_UP    &trans           &kp SLCK        &trans    &trans               &trans           &trans           &trans    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK
&msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &kp KP_NUMLOCK  &trans    &trans               &trans           &trans           &mkp MB5  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT
&trans          &kp PG_DN       &kp PG_UP        &sk LCTRL       &sk LALT  &kp TAB              &trans           &trans           &mkp MB4  &trans          &msc SCRL_UP    &msc SCRL_DOWN
&trans          &trans          &trans           &trans          &trans                                          &trans           &trans    &trans          &msc SCRL_LEFT  &msc SCRL_RIGHT
                                                                 &sk LGUI  &sk LSHFT  &trans    &trans           &trans           &trans
                                                                 &trans    &trans     &trans    &trans           &trans           &trans
            >;
        };

        // 5 - Trackball: on by itself while the right ball moves (S/D/F = right/middle/left click)

        trackball_layer {
            display-name = "Trackball";
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &mkp MB5  &mkp MB4  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans    &trans                              &trans  &trans  &trans  &trans  &trans
                                    &trans    &trans  &trans    &trans  &trans  &trans
                                    &trans    &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};

/* ---------------------------------------------------------------------------
 * TRACKBALLS - the Keymap Editor doesn't show this part; edit it here.
 * The left half handles both balls, so after changing anything below you
 * only need to reflash the LEFT half.
 * ------------------------------------------------------------------------- */
/* Mouse-key speed (the arrow-style mouse keys on the Mouse layers): ZMK's
 * default x2, about 1200 px/s, close to the Redox's ~1300. */

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

/* Trackball layer timing. require-prior-idle-ms: if you typed in the last
 * 250 ms, a bumped ball won't switch the layer on. excluded-positions: keys
 * that keep the layer on when pressed (S D F clicks, Shift, Win, Ctrl, Alt),
 * so shift-click / ctrl-click work. Any other key switches it straight off. */

&zip_temp_layer {
    require-prior-idle-ms = <250>;
    excluded-positions = <38 39 40 48 60 76 77 74>;
};

/* RIGHT ball = mouse pointer. Moving it turns on layer 5 (Trackball)
 * until 500 ms after it stops. If you move or add layers in the editor,
 * update the 5 below to the Trackball layer's new number. */

&trackball_peripheral_listener {
    input-processors = <&zip_temp_layer 5 500>, <&zip_xy_scaler 1 2>;
};

/* LEFT ball = scroll wheel (Cyboard's default): 1/3 speed, and the page
 * moves the same way as the top of the ball. */

&trackball_central_listener {
    input-processors =
        <&zip_xy_scaler 1 20>,
        <&zip_xy_to_scroll_mapper>,
        <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>;
};
